<div class="container mt-5">
  <div class="d-flex justify-content-center row">
    <div class="col-md-10 col-lg-10">
      <div class="border">
        <div class="question bg-white p-3 border-bottom">
          <div
            class="d-flex flex-row justify-content-between align-items-center mcq"
          >
            <h4>Exam Java</h4>
            <span>(1 of 20)</span>
          </div>
        </div>
        <div class="question bg-white p-3 border-bottom">
          <div class="d-flex flex-row align-items-center question-title">
            <h3 class="text-danger">Question:</h3>
            <h5 class="mt-1 ml-2">
              Dòng nào trong các dòng sau khi biên dịch sẽ không xảy ra lỗi:
            </h5>
          </div>
          <div>
            <pre>
              <code>
                đây là phần code
              </code>
            </pre>
          </div>
          <div class="ans ml-2">
            <label class="radio">
              <input type="radio" name="answer" value="" />
              <span>A.</span>
            </label>
          </div>
          <div class="ans ml-2">
            <label class="radio">
              <input type="radio" name="answer" value="" />
              <span>B.</span>
            </label>
          </div>
          <div class="ans ml-2">
            <label class="radio">
              <input type="radio" name="answer" value="" />
              <span>C.</span>
            </label>
          </div>
          <div class="ans ml-2">
            <label class="radio">
              <input type="radio" name="answer" value="" />
              <span>D.</span>
            </label>
          </div>
          <div class="ans ml-2">
            <label class="radio">
              <input type="radio" name="answer" value="" />
              <span>E</span> Boolean isPresent=true;
            </label>
          </div>
        </div>
        <div
          class="d-flex flex-row justify-content-between align-items-center p-3 bg-white"
        >
          <button
            class="btn btn-primary d-flex align-items-center btn-danger"
            type="button"
          >
            <i class="fa fa-angle-left mt-1 mr-1"></i>&nbsp;previous</button
          ><button
            class="btn btn-primary border-success align-items-center btn-success"
            type="button"
          >
            Next<i class="fa fa-angle-right ml-2"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
